<div class="blog-header">
  <h1 class="blog-title">{{gallery.name}}</h1>
</div>
<div class="gallery-detail">
  <p>{{ gallery.description }}</p>

  <h2>Author:</h2>
  <strong>First Name : </strong>{{ gallery.user.first_name}}<br>
  <strong>Last name : </strong>{{ gallery.user.last_name }}<br>
  <strong>Email : </strong>{{ gallery.user.email }}<br><br>

  <h2>Images</h2>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" *ngFor="let img of gallery.images; let i = index"
           [class.active]="i == 0">
        <img class="d-block w-100" src="{{img.image_url}}">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!--Comments-->
  <div class="row" *ngIf="gallery.comments">
    <h2>Comments</h2>
    <ul>
      <li *ngFor="let comm of gallery.comments">
        <p>{{comm.body}}</p>
        <p>{{ gallery.created_at | date:'longDate' }}
          by <a [routerLink]="['/authors', comm.user.id]">
            {{comm.user.first_name }} {{ comm.user.last_name }}
          </a>
        </p>
      </li>
    </ul>
  </div>
</div>

